{% extends 'uniformes/base.html' %}
{% block 'body' %}

<head>
    <title>Capital</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="my-5 text-center container"> 
      <header><title>Capital</title></header>

      <body><h1>Administración de Capital</h1></body>
    </div>
<body>

{% endblock %}