{% extends 'uniformes/base.html' %}

{% block 'body' %}
<div class="container">
    <br>
    <h1>Resumen del pedido</h1>

    <style>
        .zui-table {
            border: solid 1px #DDEEEE;
            border-collapse: collapse;
            border-spacing: 0;
            font: normal 20px Arial, sans-serif;
        }
        .zui-table thead th {
            background-color: #00C8DA;
            border: solid 1px #8eafc9;
            color: #000000;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #2b5f82;
        }
        .zui-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }
        
    </style>

    <br><br>

    <table class="zui-table">
        <thead>
            <tr>
                <th>
                    Prenda
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Totales
                </th>
            </tr>
        </thead>
        {% for instance in dict_finalizar %}
            <tr>
                <td>
                    {{ instance.prenda }}
                </td>
                <td>
                    {{ instance.cantidad }}
                </td>
                <td>
                    {{ instance.precio }}
                </td>
                <td>
                    {{ instance.total }}
                </td>
            </tr>

        {% endfor %}
    </table>

    <br><br>

    <h2>Total = ${{ suma }} </h2>

    {% if created_uniform_pk %}
        <a class="btn btn-warning btn-lg" href="{% url 'ordenarMujer' %}">Editar pedido</a>
    {% endif %}


    <br><br>
    <a class="btn btn-primary btn-lg" href="{% url 'ordenarMujer' %}">Finalizar</a>


</div>




{% endblock %}

